{% extends "base2.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}
  {% translate "Password Reset" %}
{% endblock head_title %}
{% block content %}
  <div class="card">
    <div class="card-header card-header-primary">
      <div class="card-title"><h1>{% translate "Password Reset" %}</h1></div>
    </div>
    <div class="card-body">
      
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}
  <p>
    {% blocktranslate %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktranslate %}
  </p>
    </div>
  </div>
{% endblock content %}
